h1{
    text-align: left;
    padding: 5px;

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
background-color: rgb(227, 220, 220);
color: rgb(6, 5, 20);
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.portfolio-pic {
    width: 200px;
    margin-left: auto;
}
.main-menu {
    position: relative
}
.main-menu {
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10%;
background-color: rgb(120, 104, 244);


}

.nav-menu {
    list-style-type: none;
    position: sticky;
    color: rgb(6, 5, 20);
    
}



.nav-menu li{
display: inline-block;
padding: 0px 20px;

}

.nav-menu li a:hover {
    color:rgb(9, 3, 18)
    
}

a:link {
    color: rgb(6, 5, 20);
}

a:link, a:visited {
    text-decoration: none;
}

a:visited {
    color:rgb(9, 3, 18);
  }

.main-menu a:hover{
    background-color: rgb(230, 228, 242);
    border-radius: 5px;

}
.logo {
    cursor: pointer;
    max-width: 75px;
    padding-bottom: 5px;
       }

footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    margin: 0;
    padding: 0;
    background-color: rgb(120, 104, 244)


}
.contact {
margin-right: auto;

}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    min-height: calc(100vh - 171px);
    margin-bottom: 10px;
}

.container > div {
    max-width: 50%;
   
}
.intro-text {
    margin: 10px;
    padding: 5px;
    p{
        margin-top: 10px;
        font-size: 20px;
    }
}

.P1 {
    padding: 20px;
    border: 5px solid rgb(120, 104, 244);
    border-radius: 10px;
    H2 {
        margin-bottom: 10px;
    }
}

.portfolio-pic {
    
    border: 5px solid rgb(120, 104, 244);
    
    border-radius: 10px;
}
.about-me {
    width: 150 px;
    justify-content: center;
    h1 {
        margin-bottom: 10px;
    }

}

.about-me-boxes {
    display: flex;
    gap: 10px;
    padding: 20px 0;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    > div {
        max-width: calc(33% - 10px);
    }
}

.video {
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(120, 104, 244);
    padding: 10px;
    font-style: italic;
    border-radius: 10px;
}


.education {
    height: flex;
    padding: 20px;
    border: 5px solid rgb(120, 104, 244);
}

.education {
    border-radius: 10px;
    H2 {
        margin-bottom: 10px;
    }
}


.sharing-books {
    border: 5px solid rgb(120, 104, 244);
    margin: 20px;
    border-radius: 10px;
}
.P2 {
    display: flex;
    max-width: 1000px;
    float: left;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
}


.P3{
    justify-content: center;
    float: left;
    margin: 10px;
    font-size: 20px;
}

.connection-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.family {
    width: 300px;
    padding: 0px;
    border: 5px solid rgb(120, 104, 244);
    border-radius: 10px;
}
.connection {
    width: 300px;
    padding: 20px;
    border: 5px solid rgb(120, 104, 244);
    border-radius: 10px;
   p{
    margin-bottom: 20px;
    margin-top: 5px;
   }
}

form {
    width: 50%;
    border: 5px solid rgb(120, 104, 244);
    padding: 20px;
    border-radius: 10px;
    }
form {
    p{
       margin-bottom: 10px;
    }
}
  
  label {
    display: block;
    font-weight: 700;
  }
  
  .form-input {
    border: 2px solid #ccc;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 1em;
    margin-bottom: 1.5em;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-input:focus {
    outline: none;
    border: 2px solid #1565C0;
  }
  
  textarea {
    height: 150px;
    resize: vertical;
  }
  
  [type="submit"] {
    width: 100%;
    background: rgb(120, 104, 244);
    color: #fff;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .5em;
  }
  
  [type="submit"]:hover {
    background: rgb(49, 46, 74);
  }
  
  textarea {
    height: 150px;
    resize: vertical;
  }
  .error {
    border-color: #C62828;
  }
  
  .error-message {
    margin-top: -1em;
    margin-bottom: 1em;
    color: #C62828;
  }


  @media (max-width: 768px) {
    .main-menu {
        flex-direction: column;
        padding: 8px;
    }
  }